extends layout

block content
    if article
        h1= article.article_title
            p= article.article_content

        fieldset
            form(action='/medium', method='get')
                input.ghost-button(type='submit', value='Retour à la liste des articles')
