extends layout

block content
    .profile-page
        h1 Articles Medium
            if articles
                ul
                    each val in articles
                        li= val.article_title
                            a(href='/medium/article/' + val._id + '') Lire l'article
                            a(href='/medium/delete/' + val._id + '') Supprimer

            fieldset
                form(action='/medium/create_article', method='get')
                    input.ghost-button(type='submit', value='Nouvel Article')