extends layout

block content
    h1 Articles Medium
        if articles
            ul
                each val in articles
                    li= val.article_title
                        a(href='/medium/article/' + val._id + '') Lire l'article
                        a(href='/medium/delete/' + val._id + '') Supprimer

        fieldset
            form(action='/medium/add', method='post')
                input.ghost-input(name='title', id='title', type='text', placeholder='Title', required='')
                input.ghost-input(name='article', id='article', type='text', placeholder='Article', required='')
                input.ghost-button(type='submit', value='Publier')