extends layout

block content
    .profile-page
         if (article.article_content)
             fieldset
                 .editable
                  h1#titre #{article.article_title}
                  div(id='data', tabindex='1')
                    #test #{article.article_content}
                 form(action='/medium/update_article/'+ article._id + '', method='post', id='formid')
                     input.ghost-input(name='title', id='title', type='text' , required='')
                     textarea.ghost-input(name='article', id='article', type='text', required='')
                     input.ghost-button(type='submit', value='Publier', onclick='myFunction()')

         else
             fieldset
                 .editable
                   h1#titre Title
                   div(id='data', tabindex='1')
                     #test Type Here
                 form(action='/medium/update_article/' + article._id + '', method='post', id='formid')
                     input.ghost-input(name='title', id='title', type='text', placeholder='Title', required='')
                     input.ghost-input(name='article', id='article', type='text', placeholder='Article', required='')
                     input.ghost-button(type='submit', value='Publier', onclick='myFunction()')


         fieldset
             form(action='/medium', method='get')
                 input.ghost-button(type='submit', value='Retour à la liste des articles')

         script(src='https://code.jquery.com/jquery-3.2.1.min.js')
         script
          include medium-editor.js
          include scripts.js
